target/
data/
!model-gateway-db-migration/src/main/resources/db/data/
model-gateway-db-migration/src/main/resources/db/data/*
!model-gateway-db-migration/src/main/resources/db/data/seed_model_routes.sql
*.class
*.log

.idea/workspace.xml
.idea/tasks.xml
*.iml

.DS_Store
