target/
data/
!model-gateway-db-migration/src/main/resources/db/data/
model-gateway-db-migration/src/main/resources/db/data/*
!model-gateway-db-migration/src/main/resources/db/data/seed_model_routes.sql
!model-gateway-db-migration/src/main/resources/db/data/seed_ecommerce_asset_design_prompt.sql
*.class
*.log
.idea/
*.iml

.DS_Store
